---
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

// Génère toutes les routes possibles
export const getStaticPaths = (async () => {
  const allPersons = await getCollection("persons");

  return allPersons.map((person) => ({
    params: { id: person.id.toString() },
    props: { person },
  }));
}) satisfies GetStaticPaths;

// Récupère le produit depuis les props
const { person } = Astro.props;
const allProjects = await getCollection("projects");
const allTools = await getCollection("tools");
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{person.data.Name}</title>
  </head>
  <body>
    <nav class="p-4">
      <a href="/" class="p-2 rounded-md hover:bg-slate-200">← Retour</a>
    </nav>

    <main class="">
      <div class="flex items-center justify-center mb-8">
        <div class="text-3xl font-bold">{person.data.Name}</div>
      </div>
      <div class="max-w-screen-md m-auto">
        <div>
          <div class="font-semibold">Coordonnées</div>
          <div>{person.data.Ville}</div>
          <div class="flex items-center gap-2">
            <Icon name="ic:baseline-discord" class="" />
            <p class="">
              {person.data.discord}
            </p>
          </div>

          <div>{person.data.job}</div>

          <div class="flex">
            {
              person.data.perso && (
                <a href={person.data.perso} target="_blank">
                  <div class="p-1 rounded hover:bg-slate-200">
                    <Icon name="mdi:link" />
                  </div>
                </a>
              )
            }
            {
              person.data.freelance && (
                <a href={person.data.freelance} target="_blank">
                  <div class="p-1 rounded hover:bg-slate-200">
                    <Icon name="mdi:money" />
                  </div>
                </a>
              )
            }
            {
              person.data.github && (
                <a
                  href={`https://github.com/${person.data.github}`}
                  target="_blank"
                >
                  <div class="p-1 rounded hover:bg-slate-200">
                    <Icon name="mdi:github" />
                  </div>
                </a>
              )
            }
            {
              person.data.linkedin && (
                <a
                  href={`https://www.linkedin.com/in/${person.data.linkedin}`}
                  target="_blank"
                >
                  <div class="p-1 rounded hover:bg-slate-200">
                    <Icon name="mdi:linkedin" />
                  </div>
                </a>
              )
            }
          </div>
        </div>
        <div>
          <div class="font-semibold">Projets</div>
          <div class="flex flex-wrap gap-2">
            {
              person.data["Name (from Projects)"]?.map((project) => (
                <div class="border px-2 rounded-md shadow">{project}</div>
              ))
            }
          </div>
        </div>
        <div>
          <div class="font-semibold">Spécialités</div>
          <div class="flex flex-wrap gap-2">
            {
              person.data["Name (from Specialist)"]?.map((tool) => (
                <div class="border px-2 rounded-md shadow">{tool}</div>
              ))
            }
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
