---
import { getCollection } from "astro:content";
import { Github } from "lucide-react";
import { FaDiscord } from "react-icons/fa";
import PersonFilter from "../components/person-filter";
import ProjectFilter from "../components/project-filter";
import ToolFilter from "../components/tool-filter";
import Layout from "../layouts/Layout.astro";

const allProjects = await getCollection("projects");
const allPersons = await getCollection("persons");
const allTools = (await getCollection("tools")).sort((a, b) =>
  (a.data.Name || "").localeCompare(b.data.Name || "")
);

const cities = Object.entries(
  allPersons.reduce(
    (acc, person) => {
      if (person.data.Ville) {
        acc[person.data.Ville] = (acc[person.data.Ville] || 0) + 1;
      }
      return acc;
    },
    {} as { [key: string]: number }
  )
)
  .sort((a, b) => b[1] - a[1])
  .slice(0, 10);
---

<Layout>
  <div class="p-8 flex flex-col gap-8">
    <div class="flex justify-between">
      <div>
        <h1 class="text-4xl font-bold opacity-70">La Passerelle</h1>
        <p class="opacity-60">
          L'annuaire augmenté de Zefrenship, la commu Indie Hacker France 🇫🇷
        </p>
      </div>
      <div class="flex text-2xl items-start">
        <a
          href="https://github.com/monsieurpigeon/passerelle"
          target="_blank"
          class="hover:opacity-70 border border-transparent p-4 rounded hover:border-slate-400 transition-all"
        >
          <Github size="32" />
        </a>
        <a
          href="https://discord.gg/pdpYk56SbZ"
          target="_blank"
          class="hover:opacity-70 border border-transparent p-4 rounded hover:border-slate-400 transition-all"
        >
          <FaDiscord size="32" />
        </a>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="p-4 bg-lime-50 rounded shadow">
        <h1 class="text-xl font-bold">Les niveaux d'un projet</h1>
        <div class="flex items-center justify-center">
          <ul class="list-decimal list-inside text-lg p-4 flex flex-col gap-2">
            <li>Idée sous la douche</li>
            <li>Prototype / Croquis</li>
            <li>Produit qui sert à 1 utilisateur</li>
            <li>Produit qui rapporte 1$</li>
            <li>Produit qui rapporte 10$ par mois</li>
            <li>Produit qui rapporte 100$ par mois</li>
            <li>Produit qui rapporte 1k$ par mois</li>
            <li>Produit qui rapporte 10k$ par mois</li>
            <li>Produit qui rapporte 100k$ par mois</li>
            <li>Licorne (évaluée à plus d'un milliard $)</li>
          </ul>
        </div>
      </div>
      <div class="p-4 bg-green-50 rounded shadow">
        <h1 class="text-xl font-bold">Les villes des indies</h1>
        <div class="flex items-center justify-center">
          <ul class="list-decimal list-inside text-lg p-4 flex flex-col gap-2">
            {
              cities.map(([cityName, quantity]) => (
                <li>
                  {cityName} ({quantity})
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4 border p-4 bg-slate-300 rounded shadow">
      <PersonFilter client:load persons={allPersons} />
      <ProjectFilter client:load projects={allProjects} />
      <ToolFilter client:load tools={allTools} />
    </div>
  </div>
</Layout>
